*{box-sizing:border-box}

body{
  margin:0;
  background:#f2f4f8;
  font-family:
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji",
    system-ui,
    Arial,
    sans-serif;
  display:flex;
  justify-content:center;
}

.app{
  width:100%;
  max-width:420px;
  height:100vh;
  background:#fff;
  display:flex;
  flex-direction:column;
  box-shadow:0 10px 30px rgba(0,0,0,.12);
}

/* HEADER */
.header{
  height:55px;
  background:#4f7cff;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 12px;
  font-weight:bold;
}

/* CHAT */
.chat{
  flex:1;
  padding:12px;
  overflow-y:auto;
  background:#f2f4f8;
}
.msg{
  max-width:75%;
  padding:10px 12px;
  margin-bottom:14px;
  border-radius:14px;
  font-size:15px;
}
.me{
  margin-left:auto;
  background:#4f7cff;
  color:#fff;
}
.other{
  background:#e6e9f0;
  color:#111;
}

/* TIME */
.time{
  font-size:10px;
  opacity:.7;
  margin-top:4px;
  text-align:right;
}

/* TYPING */
.typing{
  padding:6px 12px;
  font-size:12px;
  color:#666;
  font-style:italic;
}
.hidden{display:none}

/* INPUT */
.input{
  display:flex;
  align-items:center;
  gap:6px;
  padding:10px;
  border-top:1px solid #ddd;
}
.input input{
  flex:1;
  padding:10px;
  border-radius:20px;
  border:1px solid #ddd;
  font-size:15px;
}
.icon,.send{
  background:none;
  border:none;
  font-size:20px;
  cursor:pointer;
}

/* EMOJI PANEL */
.emoji-panel{
  background:#fff;
  padding:8px;
  border-top:1px solid #ddd;
  max-height:150px;
  overflow:auto;
}
.emoji-panel span{
  font-size:24px;
  padding:6px;
  cursor:pointer;
}
